<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <h2><%= t("devise.sessions.login") %></h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%=
            f.submit(
              t(
                "session.form.submit",
              ),
            )
          %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      <%= link_to(t("return"), root_path) %>
    </div>
  </div>
</div>



